body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  text-align: center;
  background-color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 1em;
  font-family: Roboto;
  color: black;
  border-bottom: solid black 1px;
}


.parallax img {

  /* Set a specific height */
  height: 1000px;
  
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /*connect to top of page */
  margin-top: 0px;
}

.title {
  font-family: Roboto;
  display: inline;
}